.grid-container {
    .grid-item {
        img {
            width: 100%;
            max-width: 100%; /* Ensure the image fits within the grid item */
            height: auto;
            object-fit: cover;
        }
        p {
            margin-top: 10px;
            font-weight: bold;
            align-items: end;
        }
        display: flex;
        background-color: white;
        flex-direction: column;
        width: 350px;
        align-items: center;
        text-align: center;
    }
    
    padding-top: 10px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media only screen and (max-width: 1020px){
    .grid-container{
        
        grid-template-columns: repeat(1,1fr);
    }
}